# .gitignore files
*.mat
*.set
*.fdt
*.log
**.DS_Store
*.asv
*.png
*.jpg
*.tiff
*.html
*.xlsx
*.js*
*.css
*.map
*.metadata
*.csv
*.scss
*.RData
*.Rproj
*.Rhistory

# .gitignore folders
**/TEST
**/_legacy
**/hlp_scripts
**/_data
**/__archive
**/_test
**/_slurm_scratch
**/_slurm_logs
**/Job*
**/install
**/installer
**/_compiles
**/venv
**/.Rproj.user
**/_save*
*.Rproj.user
/MindInMotion_Submodules
/MindInMotion_Submodules
.Rproj.user
**/*_figs
